/.idea/
/target/
/maintask.iml
/data/*.*~
/data/info.txt
/data/out.txt
/data/out.dat
/data/res.txt
*.*~
/data/log/*
/data/messages.properties
/src/main/java/com/epam/streamdp/lerning/
/_linux/
/_linux/*
_linux/*
/codestyles/
