/.idea/
/target/
/maintask.iml
/data/*.*~
/data/*.txt
/data/out.dat
*.*~
/data/log/*
/data/messages.properties
/src/main/java/com/epam/streamdp/lerning/
/src/test/java/com/epam/streamdp/lerning/
/_linux/
/_linux/*
_linux/*
/codestyles/
